<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vesystem.spice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <!--android:configChanges="orientation|keyboardHidden|screenSize|keyboard|navigation" 这些情况下发生了改变，不重启Activity，默认会重启当前Activity-->
    <application>
        <activity
            android:name=".ui.KRemoteCanvasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|navigation"
            android:launchMode="singleTask"
            android:exported="true"
            android:process=":remotedesktop"
            android:theme="@style/RemoteTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>
</manifest>